@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Weapons Locker Project</h1>
    <p class="lead">This is a previous and current weapons inventory from my personal collection.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Lock and Load &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Firearms</h2>
        <p>
            Observe a  breakdown/list of the many types of firearms that I have perosnally owned or still own today.
        </p>
        <!p><!a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><!Learn more &raquo;<!/!a><!/!p>
    </div>
    <div class="col-md-4">
        <h2>Attachments</h2>
        <p>A view into the different attachments ive owned to modify my fireamrs to my personal liking.</p>
        <!p><!a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><!Learn more &raquo;<!/!a><!/!p>
    </div>
    <div class="col-md-4">
        <h2>Ammunition</h2>
        <p>Ammo comes in many different shapes and sizes. Selecting the correct one for different situations is paramount.</p>
        <!p><!a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"><!Learn more &raquo;<!/!a><!/!p>
    </div>
</div>